<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder
		location="classpath:environment/shopstar2-clone/sarvika_auto.properties" />


	<bean id="pageElements" class="java.util.HashMap">
		<constructor-arg>
			<map key-type="java.lang.String" value-type="java.lang.String">
				<!-- SWA Home Page Elements -->
				<entry key="Apparel" value="[data-cid='31245']" />
				<entry key="login_create_account_xpath" value="//*[@id='welcome-data']/a"/>
				
				<!-- SWA Apparel Category Items -->
				<entry key="Warrior_Spirit_T-Shirt" value="js-item-cimage1-20694"/>
				
				<!-- SWA Product Detail page -->
				<entry key="choose_size_xpath" value="//*[@id='basketItems[0].attributes[1].optionId_']"/>
				<entry key="color_css" value=".item-color"/>
				<entry key="Add to Cart" value="Add to Cart"/>
				<entry key="choose_size_options" value="basketItems[0].attributes[1].optionId_"/>
				
				<!-- Login Page -->
				<entry key="emailAddress_xpath" value="//input[@id='login']"/>
				<entry key="password" value="password"/>
				<entry key="Login_xpath" value="//input[contains(@value,'Log') and @type!='hidden']"/>
				
				<!-- PAREX USA - Home Page Elements -->
				<entry key="Parex" value="//div[@id='toggle-menu']/ul/li/a[text()='Parex']" />
				<entry key="Merlex" value="//div[@id='toggle-menu']/ul/li/a[text()='Merlex']" />
				<entry key="Merkrete" value="//div[@id='toggle-menu']/ul/li/a[text()='Merkrete']" />
				<entry key="product_PEX0001_id" value="js-item-cimage-20128" />
				<entry key="product_MER0006_id" value="js-item-cimage-20108" />
				<!-- PAREX USA -Product Page Elements -->
				<entry key="Largewhite_xpath" value="//*[@id='qty_0']"/>
				<entry key="add_to_cart_button_xpath" value="//*[contains(@id,'js-item-addtocartbtn')]"/>
				<entry key="quantity_input_css" value=".qty-input"/>
				<!-- PAREX USA - Shopping Cart Page Elements -->
				<entry key="checkout_button_id" value="checkoutbtn"/>
				<entry key="remove_item_css" value=".basket-action-link>a[onclick='removeFromBasket(0)']"/>
				<entry key="continue_shopping" value=".//*[text()='Continue Shopping']"/>
				<entry key="Address1_id" value="addresses.billingAddress.address1"/>
				<entry key="city_id" value="addresses.billingAddress.city"/>
				<entry key="country_id" value="addresses.billingAddress.countryId"/>
				<entry key="region_id" value="region"/>
				<entry key="zipcode_xpath" value="//*[@id='addresses.billingAddress.postal']"/>
				<entry key="continue_button_xpath" value="//*[@value='Continue']"/>
				<entry key="continue_button_paymentpage_id" value="continueButton"/>
				<entry key="security_credit_card_box" value="ui-id-1"/>
				<entry key="my-cart" value="my-cart"/>
				<!-- PAREX USA - CC Pay Page Elements -->
				<entry key="cardno_id" value="card-no"/>
				<entry key="paymentGateway" value="paymentGateway"/>
				<entry key="Month_id" value="month"/>
				<entry key="year_id" value="year"/>
				<entry key="nameoncard_id" value="name"/>
				<entry key="cvv_id" value="cvv"/>
				<entry key="continue_xpath" value="//*[@id='ccform']/div/input"/>
				
				
				<entry key="placeOrder" value="placeord"/>
				
				
			</map>
		</constructor-arg>
	</bean>

	<bean id="storeLandingPage"
		class="com.stpl.automation.stplstores.storepages.StoreLandingPage"
		lazy-init="true">
		<constructor-arg name="webDriverConfiguration" ref="webDriverConfig" />
		<constructor-arg name="scheme" value="https" />
		<constructor-arg name="url" value="${store.site.url}" />
		<property name="pageElements" ref="pageElements" />
	</bean>

	<bean id="storeLandingPageVid"
		class="com.stpl.automation.stplstores.storepages.StoreLandingPage"
		lazy-init="true">
		<constructor-arg name="webDriverConfiguration" ref="webDriverConfig" />
		<constructor-arg name="scheme" value="https" />
		<constructor-arg name="url" value="${store.site.url}/store.html?vid=" />
		<property name="pageElements" ref="pageElements" />
	</bean>
	<bean id="webDriverConfig" class="com.stpl.automation.webdriver.WebDriverConfig"
		scope="prototype" lazy-init="true">
		<constructor-arg>
			<map>
				<!-- browser stack lab configuration -->
				<entry key="browserStackUserName" value="${browserstack.user.name}" />
				<entry key="accessKey" value="${browserstack.access.key}" />
				<entry key="remoteWebDriverUrlTemplate" value="https://%s:%s@hub-cloud.browserstack.com/wd/hub" />
				<!-- test configuration -->
				<entry key="targetResource"
					value-type="com.stpl.automation.webdriver.enumeration.TargetResource"
					value="${web.driver.target.resource}"/>
				<entry key="browserName" value="${web.driver.browser.name}"/>
                <entry key="browserVersion" value="${web.driver.browser.version}"/>
                <entry key="platform" value-type="org.openqa.selenium.Platform" value="${web.driver.platform.name}"/>
			</map>
		</constructor-arg>
	</bean>

	<bean id="remoteClient" class="com.stpl.automation.webdriver.client.BrowserStackClient">
		<constructor-arg name="scheme" value="https" />
		<constructor-arg name="hostName"
			value="${browserstack.user.name}:${browserstack.access.key}@@hub-cloud.browserstack.com/wd/hub" />
		<constructor-arg name="connectionTimeout" value="10" />
		<constructor-arg name="socketTimeout" value="120" />
		<property name="browserStackUserName" value="${browserstack.user.name}" />
	</bean>

</beans>
